@model Models.Inscription.InscriptionVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyqAWq5c8t+8F9iW8440J+Xm46PuxOyJL"
          crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Login</h2>
                <form method="post" asp-controller="Login" asp-action="Index">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" asp-for="Email" id="email" name="email" required />
                    </div>
                    <div class="form-group">
                        <label for="motPasse">Password:</label>
                        <input type="password" class="form-control" asp-for="MotPasse" id="password" name="password" required />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    
                    <button class="btn btn-primary btn-block">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateur" asp-action="Create">Register</a>
                    </button>
                    @ViewData["ValidateMessage"] /// fais passer les données du controleur à la vue
                </form>
            </div>
        </div>
    </div>

</body>
</html>

